<!DOCTYPE html>
<html lang="en">
<head>
	<title>Aldair47x</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico' ) }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css' ) }}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}">>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animsition/css/animsition.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.css') }}">
<!--===============================================================================================-->
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" method="POST">
                <h1 style="font-family: 'Berkshire Swash', cursive;
                            margin: 30px;">Final project distributed systems</h1>
				{{ form.hidden_tag() }}
				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<input class="input100" class="lnr lnr-user" id="name" type="text" name="name" placeholder="Nickname">
					<label class="label-input100" for="name">
						<span class="lnr lnr-user" style="margin: 0px 0px 0px 200px;"></span>  
						<div style="visibility: hidden;">
							
							
                    		{{ form.name() }}
						</div>
                      
                        
                    </label>
                    
				</div>
				

				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<input class="input100" id="email" type="email" name="email" placeholder="Email">
						<label class="label-input100" for="email">
							<span class="lnr lnr-envelope"></span>
						</label>
				</div>
	
					<div class="wrap-input100 validate-input">
						<input class="input100" id="pass" type="password" name="pass" placeholder="Password">
						<label class="label-input100" for="pass">
							<span class="lnr lnr-mustache"></span>
						</label>
					</div>
		
					<div class="wrap-input100 validate-input" data-validate = "Age is required: 20">
						<input class="input100" id="edad" type="date" name="edad" placeholder="Date">
						<label class="label-input100" for="edad">
							<span class="lnr lnr-calendar-full"></span>
						</label>
					</div>
	
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input  class="input100" id="genero" type="checkbox" name="Masculino" placeholder="Genre" style="margin: 0px 0px 0px 200px;">
						<label class="label-input100" for="genre">
								<select style="margin: 0px 0px 0px 20px;" >
										<option value="Femenino">Female</option>
										<option value="Masculino">Male</option>
								</select>
						</label>
						
					</div>
                
                <div class="wrap-input100 validate-input" data-validate="Name is required">
                        <input class="input100" id="room" type="text" name="room" value="room" placeholder="Room Name">
                        <label class="label-input100" for="room">
								<span class="lnr lnr-users" style="margin: 0px 0px 0px 20px;"></span>  
								<div style="visibility: none;">
								{{ room }}
								</div>
                        </label>
                        
                </div>


				<div class="container-contact100-form-btn">
                        <div class="wrap-contact100-form-btn">
                            <div class="contact100-form-bgbtn"></div>
                            <button type="submit" class="contact100-form-btn" value="submit">
                                Submit 
							</button>
							{{ form.submit() }}
                        </div>
				</div>

				
			</form>
		</div>
	</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/animsition/js/animsition.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/daterangepicker/moment.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/countdowntime/countdowntime.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>



    </body>
</html>